@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

.pageContainer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;

    flex-direction: column; /* Garantir que o conteúdo seja empilhado verticalmente */
    min-height: 100vh; /* Ocupa toda a altura da tela */
    width: 100%; /* Ocupa toda a largura da tela */
    margin: 0;
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #123716;
    padding: 30px 20px;
  }

  
  .title {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: #daa520;
    text-decoration: none;
    font-family: 'Abhaya Libre', serif;
    cursor: pointer;
  }

  .navContainer{
    display: flex;
    flex: 1;
    white-space: nowrap;
    scrollbar-width:none; 
    /* align-items: center; */
    width: 40vw;
    /* flex-direction: column; */

  }
  
  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: auto; 
    cursor: pointer;
    /* overflow: hidden; */
}

.nav::-webkit-scrollbar {
  height: 2px;
}

.nav::-webkit-scrollbar-thumb {
  background: #aab898; 
}
  

  .nav_link {
    display: flex;
    margin: 0 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #aab898;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: 'Arimo',sans-serif;
  }
  
  .nav_link:hover {
    color: #fff;
  }
  
  .nav_set {
    margin: 0 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #dfe0e5;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: 'Arimo',sans-serif;
  }


.pageContent {
  position:static;
  display: flex;
  background-color: #e2dccd;
  color: #333;
  padding-top: 120px;
  overflow: hidden;
  width: 100%; 
  /* height: 100%; */
  box-sizing: border-box;
  /* min-height: 100vh; */
  padding-right: 15px;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  margin: 0 auto; /* Centraliza o conteúdo */
  flex-direction: column;
  gap: 20px;
  width: 100%; 
  max-width: 1200px; 
  padding: 10px;
  /* height: 100%; */
}

.section{
  display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: #aab898;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.sectionBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px; 
}


.sectionText{
  text-align: justify;
  color: white;
}


/* TAGS */

.tagsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

}


.tagsTitle {
  font-size: 18px;
  font-weight: bold;
}

.tagsList {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  width: 100%;

  overflow-x: auto; /* Permite rolagem horizontal */
  padding: 5px 0; /* Espaçamento interno vertical */
}

.tagsList::-webkit-scrollbar {
  height: 5px;
}

.tagsList::-webkit-scrollbar-thumb {
  background: #aab898; 
}

.tagButton {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 12px;
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
  color:#333;
}

.tagButton:hover {
  background-color: #aab898;
  color: white;
}

.activeTag {
  background-color: #aab898;
  color: white;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterIcon {
  width: 24px;
  height: 24px;
  color: #555;
}

.filterText {
  color: #555;
}

.blocksContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  /* width: 100%; */
}

.blockTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blockText {
  color: #555;
}

.blockTags {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.blockTag {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 12px;
  /* background-color: #e0e0e0; */
  background-color: #aab898;
  color: white;
}


@media (max-width: 975px) {
  .navContainer {
    width: 50vw;
  }

}

@media (max-width: 800px) {
  .navContainer {
    width: 60vw;
  }
}

@media (max-width: 660px) {
  .navContainer {
    width: 70vw;
  }
}

@media (max-width: 560px) {
  .navContainer {
    width: 80vw;
  }
  .nav{
    justify-content: space-evenly;
  }
}

@media (max-width: 490px) {

  .nav{
    margin: 0 -30px;
  }

}

  @media (max-width: 430px) {
    .navContainer {
      width: 100vw;

    }
  
    .nav{
      justify-content:space-evenly;
      margin: 0 60px;
    }

    .sectionText{
      flex: 1 1 auto;
    }
    .navContainer {
      overflow-x: scroll; 
    }

  }


@media (max-width: 370px) {

  .title {
    font-size: 1.5rem;
  }
  .nav_link{
    font-size: 0.75rem;
  }

  .nav_set{
    font-size: 0.75rem;
  }

  .pageContent {
    padding-top: 100px;
  }

  .title{
    margin-right: 20px;
  }

} 
